body {
    
    width: 500px;
    margin: auto;
    
}
.dark-mode {
    background-color: black;
    color: white;
}
.container-fluid {
    
    margin: auto;
}
.kezdo {
    text-align: center;
}
.row {
    margin: auto;
    
}
.col-md-12 {
    padding: 10px;
    margin: auto;
}